@using System.Web.Mvc.Html
@using Umbraco.Web
@using UmbracoAzureSearch.Controllers
@using UmbracoAzureSearch.Controllers
@using UmbracoAzureSearch.Models
@model UmbracoAzureSearch.Models.AzureSearchViewModel

@{
    //Html.EnableClientValidation(true);
    Html.EnableUnobtrusiveJavaScript(true);
}

<!--
    Of course jqueryui shouldn't be inluded in this partial view. Just doing it to make it easier to try this code out.
    jqueryui is used for the autocomplete function.
    -->
<link rel="stylesheet" href="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/themes/smoothness/jquery-ui.css" />
<script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/jquery-ui.min.js"></script>

@using (Html.BeginUmbracoForm<AzureSearchSurfaceController>("HandleSearchForm"))
{
    @Html.ValidationSummary(true)
    @Html.AntiForgeryToken()

    @Html.TextBoxFor(model => model.SearchPhrase, new { id = "searchBox" })
    <input type="submit" value="Search" />


    if (Model.SearchResult != null)
    {
        foreach (var result in Model.SearchResult.value)
        {
            <div>
                <h4><a href="@result.url">@(string.IsNullOrWhiteSpace(result.title.ToString()) ? result.name : result.title)</a></h4>
                @{
                    string text = result.mainContent.ToString();
                    if (text.Count() > 300)
                    {
                        text = text.Remove(300) + "...";
                    }
                }
                <a href="@result.url" style="text-decoration: none;">@text</a><br /><br />
            </div>
        }
    }
}

<script>
        $(function () {
            $("#searchBox").autocomplete({ source: "/umbraco/AzureSearch/SearchApi/Suggest", minLength: 3 });
        });
</script>
